@font-face {
  font-family: "NunitoExtraBold";
  src: local("Nunito"),
    url("./fonts/Nunito-ExtraBold-subset.woff2") format("woff2");
}

@font-face {
  font-family: "WavingAtChristmas";
  src: url("./fonts/Waving at Christmas-subset.woff2") format("woff2");
}

body {
  background-color: var(--site-background);
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
